
<div class="competition_index">
  <h1>Competitions</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Winner</th>
      <th>Submission end date</th>
      <th>Vote end date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @competitions.each_with_index do |competition, index| %>
  <% num_votes =[] %>
    <% competition.playlists.each do |playlist| %>
     <% num_votes.push(playlist.votes.length) %>
    <% end %>
    <% max_index = num_votes.index(num_votes.max) %>

    <tr>
      <td><%= competition.name %></td>
      <% if max_index != nil %>
        <td><%= competition.playlists[max_index].name %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= competition.submission_end_date %></td>
      <td><%= competition.vote_end_date %></td>
      <td class="countdown" id="countdown-holder-<%= index %>" data-year="<%= competition.submission_end_date.year %>" data-month="<%= competition.submission_end_date.month %>" data-day="<%= competition.submission_end_date.day %>" data-hours="<%= competition.submission_end_date.hour %>" data-minutes="<%= competition.submission_end_date.min %>" data-seconds="<%= competition.submission_end_date.sec %>"></td>
      <td><%= link_to 'Show', competition %></td>
      <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
      <td><%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <div class="competitions_footer">
    <%= link_to 'New Competition', new_competition_path %>
  </div>
</div>

<br />

