<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>

<p>
  <b>Winner:</b>
  <%= @competition.winner %>
</p>

<p>
  <b>Submission end date:</b>
  <%= @competition.submission_end_date %>
</p>

<p>
  <b>Vote end date:</b>
  <%= @competition.vote_end_date %>
</p>


<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
