<p id="notice"><%= notice %></p>

<% competition_participants = []%>
<% @competition.playlists.each do |playlist| %>
  <% competition_participants.push(playlist.user_id)%>
<% end %>

<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>
<p>
  <b>Submission end date:</b>
  <%= @competition.submission_end_date %>
</p>
<p>
  <b>Vote end date:</b>
  <%= @competition.vote_end_date %>
</p>



<div class="playlist_voter">
<% @competition.playlists.each do |playlist| %>
  <%= form_for(@vote) do |f| %>
    <% if @vote.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @vote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= link_to playlist["name"], playlist_path %><br>
    <%= (User.find(playlist.user_id)).email %><br>
    <%= f.hidden_field :playlist_id, :value => "#{playlist["id"]}"%>
    <%= f.hidden_field :competition_id, :value => "#{@competition.id}"%>


  <% if competition_participants.include?(current_user.id)%>
    <% if playlist.user_id != current_user.id%>
      <%= f.submit 'Vote for this playlist'%>
    <% end %>
  <% end %>


  <% end %>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:<%=playlist.user.uid%>:playlist:<%=playlist.spotify_id %>" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
<% end %>
</div>





<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
