<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>



<%= form_for(@vote) do |f| %>
    <% if @vote.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @vote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% @competition.playlists.each do |playlist| %>
        <%= playlist["name"]%>
        <%= (User.find(playlist.user_id)).email %>
        <%= f.hidden_field :playlist_id, :value => "#{playlist["id"]}"%>
        <%= f.hidden_field :competition_id, :value => "#{@competition.id}"%>
      <%= f.submit 'Vote'%>
      <br>
    <% end %>
<br />
<% end %>

<p>
  <b>Submission end date:</b>
  <%= @competition.submission_end_date %>
</p>

<p>
  <b>Vote end date:</b>
  <%= @competition.vote_end_date %>
</p>


<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
