<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>

<p><ul>Playlists:
    <% @competition.playlists.each do |playlist| %>
    <li>
      <div><%playlist.name%></div>
      <div>Playlist creator</div>
      <div>Vote button</div>
    </li>
    <% end %>
</p></ul>



<p>
  <b>Winner:</b>
  <%= @competition.winner %>
</p>

<p>
  <b>Submission end date:</b>
  <%= @competition.submission_end_date %>
</p>

<p>
  <b>Vote end date:</b>
  <%= @competition.vote_end_date %>
</p>


<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
