<h1>Listing playlists</h1>
    
<%= form_for(@playlist) do |f| %>
    <% if @playlist.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @playlist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% @playlists["items"].each do |playlist| %>
        <%= playlist["name"]%>
        <%=f.collection_select :competition_id, Competition.all, :id, :name  %>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
<br />
<% end %>
<%= link_to 'New Playlist', new_playlist_path %>
