<p id="notice"><%= notice %></p>
<div class="playlist_show">
  <p>
    <b>Name:</b>
    <%= @playlist.name %>
  </p>
  <p>
    <b>User:</b>
    <%= (User.find(@playlist.user_id)).name %>
  </p>
  <p>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:<%=@playlist.user.uid%>:playlist:<%=@playlist.spotify_id %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

  </p>
  <%= link_to 'Back', playlists_path %>
</div>
