<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Compify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<!--   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 -->  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user%>
      window.currentUserVotes = <%= raw current_user.votes.to_json %>
    <% else %>
      window.currentUserVotes = <%= false %>
    <% end %>
  </script>
</head>
<body>
  <% if current_user %>
    <%= render "layouts/user_menu"%>
  <%# else %>
    <%#= render "layouts/classic_menu"%>
  <% end %>
<div class="wrapper">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
